<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>
        <a class="show_154831" href="/books/154831">Show</a>
      </td>
      <td>
         <a class="edit_154831" href="/books/154831/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="desyroy_154831" rel="nofollow"
        data-method="delete" href="/books/154831">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>トラブル知らずのシステム設計</td>
      <td>システム設計の要点を図解で質問してくれます
      </td>
      <td>
        <a class="show_154832" href="/books/154832">Show</a>
      </td>
      <td>
        <a class="edit_154832" href="/books/154832/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="desyroy_154832" rel="nofollow"
        data-method="delete" href="/books/154832">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>たのしいRuby</td>
      <td>Rubyの入門におすすめです</td>
    <td>
      <a class="show_154833" href="/books/154833">Show</a>
    </td>
    <td>
      <a class="edit_154833" href="/books/154833/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="desyroy_154833" rel="nofollow"
        data-method="delete" href="/books/154833">Destroy</a>
    </td>
    </tr>
    <tr>
      <td>入門Git</td>
      <td>Gitについての基本操作から内部構造まで解説し操作から内部構造まで解説してくれます</td>
       <td>
      <a class="show_154834" href="/books/154834">Show</a>
    </td>
    <td>
      <a class="edit_154834" href="/books/154834/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="desyroy_154834" rel="nofollow"
        data-method="delete" href="/books/154834">Destroy</a>
    </td>
    </tr>

     <tr>
      <td>アルゴリズム図鑑</td>
      <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
       <td>
      <a class="show_154835" href="/books/154835">Show</a>
    </td>
    <td>
      <a class="edit_154835" href="/books/154835/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="desyroy_154835" rel="nofollow"
        data-method="delete" href="/books/154835">Destroy</a>
    </td>
    </tr>

     <tr>
      <td>達人プログラマー</td>
      <td>プログラマプログラマ入門者は必読！</td>
       <td>
      <a class="show_154836" href="/books/154836">Show</a>
    </td>
    <td>
      <a class="edit_154836" href="/books/154836/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="desyroy_154836" rel="nofollow"
        data-method="delete" href="/books/154836">Destroy</a>
    </td>
    </tr>

    <tr>
      <td>データベース実践入門</td>
      <td>効率的なSQLを教えてくれます</td>
      <td>
        <a clsaa="show_154821" href="/books/154821">Show</a>
      </td>
      <td>
        <a class="edit_154821" href="/books/154821/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="desyroy_154821" rel="nofollow"
        data-method="delete" href="/books/154821">Destroy</a>
      </td>
    </tr>
  </tbody>
</table>
<h2>New book</h2>
<%= form_with model: @Book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
